body {
  background-color: #454549;
  display: block;
  margin: auto;
}

.container {
  width: 300px;
  padding: 30px;
  background-color: #9fb3c5;
  border-width: 10px;
  border-color: #454549;
  margin-top: 50px;
  border-radius: 20px;
}
#search-bar {
  border-width: 0px;
  padding: 15px;
}
#city-name {
  padding-left: 25px;
}

.temperature {
  color: #fff;
  font-size: 125px;
  padding-left: 25px;
}
.condition {
  padding-left: 25px;
}
h4 {
  font-size: 100px;
}
div {
  border-width: 15px;
}

span {
  text-align: right;
  color: #fff;
}
