.body {
  background-color: #9fb3c5;
  display: block;
  margin: auto;
}
#app-face {
  width: 700px;
  filter: drop-shadow(0 0 0.75rem rgb(255, 216, 108));
}
#weather-icon {
  width: 120px;
  padding: none;
}
.container {
  padding: 30px;
  background-color: #646464;
  margin-top: 50px;
  border-radius: 20px;
}
#search-bar {
  border-width: 0px;
  padding: 15px;
}
#city-name {
  color: #9fb3c5;
  font-weight: bold;
  font-size: 40px;
  padding-left: 25px;
  text-decoration: underline rgb(255, 216, 108);
}
#country-name {
  font-size: 25px;
  padding-left: 25px;
  color: #9fb3c5;
  font-weight: bold;
}

#main-temp {
  color: #fff;
  font-size: 125px;
  padding-left: 25px;
}
.condition {
  padding-left: 25px;
  color: #9fb3c5;
  font-weight: bold;
}
h4 {
  font-size: 100px;
}
div {
  border-width: 15px;
}
#conversion {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  padding-top: 30px;
}
.search-btn {
  border: none;
  background-color: none;
  margin: 0px;
}
.date,
.time {
  font-size: 20px;
  padding: 2px;
  text-align: center;
  color: #fff;

  font-weight: bold;
}
.wind,
.humidity {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: #fff;

  font-weight: bold;
}
.stats {
  color: #fff;
  text-align: center;
}

#c-link,
#f-link {
  text-decoration: none;
  color: #9fb3c5;
}

.active {
  cursor: default;
  color: #9fb3c5;
  text-decoration: none;
}

#credit {
  font-size: 12px;
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px;
  color: #fff;
}

#credit-link {
  color: rgb(255, 216, 108);
  text-decoration: none;
}

.fa-magnifying-glass {
  padding-right: 10px;
}

.card {
  color: #9fb3c5;
  background-color: #646464;
}
.card-footer {
  background-color: #9fb3c5;
}
.card-group {
  padding: 15px;
  background-color: #646469;
  border-radius: 20px;
}

.card-body {
  text-align: center;
  padding: 5px;
}
#icons {
  width: 70px;
  display: block;
  margin: auto;
  filter: drop-shadow(0 0 0.75rem rgb(59, 58, 59));
  padding-top: 15px;
}

.text-muted,
.card-footer {
  text-align: center;
}

#forecast-1 {
  font-size: 25px;
}
